<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
 <!-- Fixed navbar -->
   <div class="navbar navbar-invserse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><span class="mb-0 h3">Metin Balaban</span></a>
       </div>
       <div class="navbar-collapse collapse" style="background:black">
         <ul class="nav navbar-nav navbar-right">
           <!-- <li class="active"><a href="/">Home</a></li> -->
           <li><a href="/">Home</a></li>
           <li><a href="/research">Research</a></li>
           <li><a href="/resume/balaban.pdf">Resume</a></li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Thesis/Dissertation<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/thesis/masterthesis.pdf">Master Thesis</a></li>
               <li><a href=>PhD Dissertation (December 21')</a></li>
             </ul>
           </li>
           <li><a href="/contact">Contact Me</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
</header>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script> 
$(document).on('click','.navbar-collapse.in',function(e) {

    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }

});
</script>
